<form action="">
  <div class="form-group">

    <mat-form-field appearance="fill">
      <mat-label for="firstName">Firstname</mat-label>
      <input required 
      minlength="3" maxlength="10" pattern="banana"
      ngModel name='firstName'
       #f="ngModel" (change)="log(f)"
        matInput id="firstName" type="text"
        class="form-control">

        
    </mat-form-field>
    
    <div *ngIf="f.touched && !f.valid"
     class="alert alert-danger">

        <div *ngIf="f.errors.required"> champ requis </div>
        <div *ngIf="f.errors.minlength"> minimum {{f.errors.minlength.requiredLength}} caracteres</div>
        <div *ngIf="f.errors.maxlength"> max 10 caracteres</div>


    </div>
    
</div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label for="comment">Comment</mat-label>
      <textarea ngModel name="comment"
       matInput id="comment" #c="ngModel"
        (change)="log(c)" 
        cols="30" rows="10"
        class="form-control">

    </textarea>
    </mat-form-field>


  </div>

  <button mat-raised-button color="primary">Submit</button>

</form>